fastapi
httpx
email-validator
redis
sqlalchemy
pydantic
psycopg2-binary
python-jose
uvicorn
passlib
python-dotenv
bcrypt
pytest
alembic
fastapi-mail
python-multipart
websockets
boto3
aiobotocore
aiofiles
tonsdk